LOG_LEVEL=INFO

AUTH_URL=http://127.0.0.1:8000
REMINDER_URL=http://127.0.0.1:8001
USER_URL=http://127.0.0.1:8002
JWKS_ENDPOINT=/.well-known/jwks.json

ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://localhost:80,http://127.0.0.1:80