LOG_LEVEL=INFO

TG_BOT_TOKEN=<your_token> # FILL

REDIS_PASSWORD=<password> # FILL
RMQ_USER=user
RMQ_PASS=<password> # FILL
APP_PORT=8000

DB_USER=user
DB_PASS=<password> # FILL

RMQ_DLQ_FAILED_REMINDERS_NAME=user-service.failed_reminders.dlq
RMQ_DLX_FAILED_REMINDERS_NAME=failed_reminders.dlx
RMQ_USER_ADD_QUEUE=user-service.users.add
RMQ_DELIVERY_METHOD_ADD_QUEUE=reminder-service.delivery_methods.add
RMQ_DELIVERY_METHOD_REMOVE_QUEUE=reminder-service.delivery_methods.remove
RMQ_REMINDER_DEACTIVATE_QUEUE=user-service.reminder.deactivate
RMQ_REMINDERS_QUEUE=reminders.send

ALGORITHM=RS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7
KEY_PAIR_EXPIRES_DAYS=15
ROTATING_BEFORE_EXPIRING_DAYS=2

AUTH_SERVICE_DB=users
USER_SERVICE_DB=user-profiles
REMINDER_SERVICE_DB=reminders

POSTGRES_DATABASES=user-profiles,users,reminders 
ALLOWED_ORIGINS=http://localhost,http://127.0.0.1