LOG_LEVEL="INFO"

DB_USER="postgres"
DB_PASS="<password>"
DB_NAME="reminder_reminders"
DB_HOST="localhost"
DB_PORT="5432"

RMQ_DLQ_FAILED_REMINDERS_NAME="<dlq_name>"
RMQ_DLX_FAILED_REMINDERS_NAME="<dlq_name>"
RMQ_DELIVERY_METHOD_ADD_QUEUE="<queue_name>"
RMQ_DELIVERY_METHOD_REMOVE_QUEUE="<queue_name>"
RMQ_REMINDER_DEACTIVATE_QUEUE="<queue_name>"
RMQ_REMINDERS_QUEUE="<queue_name>"
RMQ_USER="guest"
RMQ_PASS="<password>"
RMQ_HOST="localhost"
RMQ_PORT="5672"