LOG_LEVEL="INFO"

DB_USER="postgres"
DB_PASS="<password>"
DB_NAME="reminder_users"
DB_HOST="localhost"
DB_PORT="5432"

RMQ_USER_ADD_QUEUE="<queue_name>"
RMQ_USER="guest"
RMQ_PASS="<password>"
RMQ_HOST="localhost"
RMQ_PORT="5672"

ALGORITHM="RS256"
ACCESS_TOKEN_EXPIRE_MINUTES="15"
REFRESH_TOKEN_EXPIRE_DAYS="7"
KEY_PAIR_EXPIRES_DAYS="15"
ROTATING_BEFORE_EXPIRING_DAYS="2"